<h1>Formulario de Registro</h1>

<div>
    <form action="/api/users" method="post" class="mb-3">
        <div class="mb-3">
            <label for="firstName" class="form-label">Nombre</label>
            <input type="text" id="firstName" name="firstName" class="form-control" required placeholder="Ingresa tu nombre">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Apellido</label>
            <input type="text" id="lastName" name="lastName" class="form-control" required placeholder="Ingresa tu apellido">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" id="email" name="email" class="form-control" required placeholder="Ingresa tu correo">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" id="password" name="password" class="form-control" required placeholder="Ingresa tu contraseña">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
